<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Encoding" value="CP1251"/>
        <layout class="org.apache.log4j.SimpleLayout">

        </layout>
    </appender>
    <appender name="log-file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/application.log"/>
        <param name="MaxFileSize" value="50MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd.MM.yyyy HH:mm:ss.SSS}] %-20.30C{1} %-5p: %t - %m%n"/>
        </layout>
    </appender>

    <logger name="ru.p03">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="log-file"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration> -->
<Configuration>
  <Appenders>
    <RollingFile name="file" fileName="./log/application.log"
        filePattern="./log/$${date:yyyy-MM}/application-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
          <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="file"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>